<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Отказ от заявки:</h1>
    <p>
      <%= @msg_txt %>.<br/>
    </p>
    
  </body>
</html> 