<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Есть не закрытая заявка:</h1>
    <p>
      <%= @transp_text %>.<br/>
    </p>
    
  </body>
</html> 
