<tr class ="tr">
  <td class = "tr"><%= link_to avto.model, avto %></td> 
  <td class = "tr"><%= avto.carcase %></td> 
  <td class = "tr"><%= avto.statenumber %></td> 
  <td class = "tr"><%= avto.trailnumber %></td> 
  
 
</tr>  
