<h1>Редактировать профиль:</h1>

<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>

  <div>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
  <br />
  <div class="actions">
      <%= f.submit "Сохранить" %>
  </div>
<% end %>
