<h1>По вопросам работы портала:</h1>
<h2>Ответственные лица: </h2>
<p>Зам. Генерального директора <a href="mailto:kartashov@roshen48.ru">kartashov@roshen48.ru</a> Карташов Владислав Владимирович (4742) 516651</p>
<p>Менеджер транспортного отдела <a href="mailto:kornev@roshen48.ru">kornev@roshen48.ru</a> Корнев Юрий Викторович (4742) 516641

<h2>Тех. поддержка</h2>
<p>Инженер-программист <a href="mailto:korolev@roshen48.ru">korolev@roshen48.ru</a> Королев Александр Николаевич (4742) 51-66-37.</p>