<h1 class="reglam_h">Регламент проведения открытых электронных торгов
по заказу автомобильного транспорта ООО «Рошен» г. Липецк</h1>
<p>Настоящий регламент разработан в целях совершенствования порядка заказа автотранспорта и определяет процесс проведения электронных торгов на площадке ООО «Рошен». </p>
<h2 class="reglam_h">1. Участие в открытых торгах.</h2>
<p>
 Участие в торгах имеет право принимать транспортная компания, заключившая договор с ООО «Рошен» на транспортно-экспедиционное обслуживание грузов, лица, не заключившие, вышеуказанного договора,  к участию в торгах не допускаются. 
Участнику необходимо внести данные о своей компании на сайте электронных торгов и зарегистрировать учетную запись пользователя.
</p>
<h2 class="reglam_h">2. Формирование заявки.</h2>
<p>
До 13.30 по мск времени каждого дня менеджер ООО «Рошен» получает заявку от отдела РК г.Москва на заказ автотранспорта, в которой указывается:
<li> дата погрузки; </li>
<li> название клиента;</li>
<li> пункт назначения (город выгрузки);</li>
<li> место погрузки;</li>
<li> тоннаж;</li>
<li> объем;</li>
<li> тип транспортного средства;</li>
<li> дата и время выгрузки;</li>
Менеджер транспортного отдела анализирует заявку и до 13.50 по мск времени размещает ее на сайте электронных торгов ООО «Рошен».
</p>
<h2 class="reglam_h">3. Начало торгов.</h2>
<p>Начало торгов происходит в 14.00 МСК по времени сервера, которое отображается над таблицей заявок. Из-за задержки в линиях связи и обработки ответа сервера браузером участника время у последнего может отличаться на +/- 1-2 секунды.</p>
<p>С момента начала торгов в правой крайней колонке таблицы доступны две ссылки: «СДЕЛАТЬ СТАВКУ» и «СПЕЦ.ЦЕНА». 
При выборе ссылки «СДЕЛАТЬ СТАВКУ» торги происходят на понижение стоимости рейса с определенным шагом. Величина шага устанавливается руководством ООО «Рошен» и может меняться по согласованию всех участников торгов с руководством ООО «Рошен». Инициатором изменения величины шага может стать как руководство ООО «Рошен», так и любой из участников торгов.</p>
<p>При выборе ссылки «СПЕЦ.ЦЕНА»  участник торгов имеет право забрать лот с первого раза при значительном понижении стоимости рейса на величину которая устанавливается ООО «Рошен».</p>
<p>ООО «Рошен» имеет полное право установленную  величину  менять  без дополнительного согласования с участниками торгов и имеет право отменить её вовсе. 
Перейдя по  ссылкам «СДЕЛАТЬ СТАВКУ» и «СПЕЦ.ЦЕНА», участник попадает на страницу, где для подтверждения ставки он должен ввести капчу для пресечения использования автоматических систем.</p>
<h2 class="reglam_h">4. Торги.</h2>
<p>4.1. В процессе проведения торгов все зарегистрированные участники делают ставки на понижение базовой стоимости рейса, которая устанавливается руководством ООО «Рошен» в момент открытия торгов.</p>
<p>Компания предложившая  меньшую стоимость рейса, в графе лучшее предложение наблюдает картинку автомобиля. Данная «картинка» обозначает, что в настоящий момент времени лот принадлежит ей. В случае если другой из участников торгов делает ставку на понижение стоимости этого лота, картинка автомобиля в таблице первого участника пропадает. Вышеуказанный факт означает, что кто-то из других участников предложил более низкую стоимость лота.</p>
<p>4.2. Время проведения торгов состоит из двух частей: 
<li> основного до 14.30 мск времени и </li>
<li> дополнительного до 15.00 мск времени. </li>
В случаях, если последнее предложение было сделано более чем за 5 мин до окончания основного времени, торги по данному лоту закрываются в 14.30 по мск времени. Если же предложение было сделано участником менее чем за 5 мин до окончания основного времени, то время закрытия торгов по данному лоту смещается на 5 мин. 
Например, в 14.28  сделано предложение, время закрытия лота считается 14.33, предложение, оставленное в 14.32, время закрытия лота считается 14.37 и т.д. 
Финальное закрытие торгов в 15.00 по мск времени.</p>
<p>В случае, если по окончании основного времени (14.30 по мск) не было сделано ни одного предложения по данному лоту, последний остается открытым с возможностью повышения его стоимости.</p>
<p>4.3. После окончания торгов участники - транспортные компании, до 17.00 по мск времени, сбрасывают подтверждение заказа, оформленного в соответствии с условиями раздела 3 договора на транспортно-экспедиционное обслуживание груза, в транспортный отдел ООО «Рошен» г.Липецк, в котором указывается:
<li> дата, время, место загрузки;</li>
<li> дата, время, место выгрузки;</li>
<li> тип, номер транспортного средства;</li>
<li> ФИО и паспортные данные водителя;</li>
<li> стоимость рейса.</li></p>
<h2 class="reglam_h">5. Отказ от ставки.</h2>
<p>В течение основного и дополнительного времени торгов участник беспрепятственно имеет право отказаться от сделанной им ставки. В этом случае стоимость лота возрастает до предыдущего значения, и остальные участники торгов имеют право выставлять предложения по  данному лоту. </p>
<p>В случаях, если участник торгов произвел отказ от лота после закрытия торгов, то всем участникам торгов рассылается  автоматическое уведомление по электронной почте о возобновлении торгов по данному лоту, а участник, отказавшийся лота после закрытия торгов, не имеет право участвовать в продолжении торгов. В данном случае остальные участники имеют право делать ставки на повышение стоимости лота. Отказ от ставки после 17.00 по мск времени, возможен только с направления в адрес менеджера транспортного отдела ООО «Рошен» по факсу или по электронной почте письменного уведомления  об отказе от ставки и получения отказавшимся участником подтверждения о получении извещения от менеджера ООО «Рошен».</p>
<p>В случае если участник отказался от ставки после закрытия торгов (после 15.00), и стоимость лота возросла в результате последующих торгов, компания - участник, которая отказалась от ставки, обязана возместить ООО «Рошен» разницу в стоимости рейсов.   Возмещение происходит путем выставления претензии в адрес компании – участника торгов от имени ООО «Рошен», в начале каждого месяца по итогам предыдущего.</p>
<h2 class="reglam_h"> 6. Технические аспекты.</h2>
<p>В случае технических проблем с сервером или каналом связи ООО «Рошен», заявки распределяются в ручном режиме менеджером ООО «Рошен». 
ООО «Рошен» не несет ответственности за невозможности подключения к сайту, если виной тому является неудовлетворительная работа интернет-провайдера пользователя. В случае программной ошибки системы торгов все споры решают в договорном порядке.</p>
<p>Все предложения от пользователей транспортных компаний принимаются в электронном  или письменном виде, и могут быть реализованы в системе при одобрении руководства ООО «Рошен», путем внесения в регламент проведения открытых электронных торгов по заказу автомобильного транспорта.</p>
<p>Участник, прошедший регистрацию в торгах, подтверждает своё согласие с настоящим регламентом, понимает и принимает все условия данного регламента и бесспорно с ним согласен. Участник самостоятельно обязан ознакомиться с данным регламентом перед началом регистрации учетной записи пользователя для участия в открытых электронных торгах.</p>
<p>Торги могут быть объявлены прекращенными  руководством ООО «Рошен», в случае обнаружения сговора участников, по ценам, по проведению торгов, по распределению лотов, по условиям заключения договоров и т.д. и т.п.</p>
<p>ООО «Рошен» вправе вносить изменения и уточнения в документацию, связанную с проведением торгов и участием в них, на любой стадии торгов, отказаться от проведения торгов, а также имеет право отклонить все заявки на участие в торгах по любой причине или прекратить процедуру проведения торгов в любой момент, не имея при этом никакой ответственности перед участниками.</p>
<p>ООО «Рошен» прерывает без каких-либо для себя последствий отношения с участниками торгов, в случае, если при проведении торгов будет установлено, что указанные субъекты:<li> находятся в процессе ликвидации</li>
<li> реорганизации</li>
<li> банкротства</li>
<li> на их имущество наложен арест</li>
Прямо или косвенно предлагают, дали либо соглашаются дать работнику ООО «Рошен» вознаграждение в любой форме (материальной или нематериальной) в целях оказания влияния на проведение процедуры торгов или иного действия в связи с проводимыми открытыми электронными торгами по заказу транспорта.</p>
<% if current_user.show_reg? %>
<p><%= link_to "Я согласен!", user_path(current_user) + "/read_reg", :class => "signup_button round" %></p>
<% end %>