#coding: utf-8
<h1>ООО "Рошен"</h1>
<p>Заявки на перевозки </p>

<% if ! signed_in? %>
<%= link_to "Регистрация!", signup_path, :class => "signup_button round" %><br>
<%= link_to "Вход!", signin_path, :class => "signup_button round" %>
<% end %>
