 <div class="field">
    <%= f.label :city, "Город:" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :address, "Адрес:" %><br />
    <%= f.text_field :address %>
  </div>
     
