<li><%= link_to "Добавить компанию", new_company_path %></li>

<h1>Компании:</h1>
<%= paginate @companies %>
<table class="transp">
  <tr>
    <td class = "tr">Название</td>
    <td class = "tr">ИНН</td>
    <td class = "tr">это ТЭК</td>

  </tr>


    <%= render @companies %>


</table>
