.page5-centr
  %h1 500
  .description
    .description-center
      %p= t("general.external_error")
    .clear
      .description-down
        %span Поделиться:
        = image_tag "kartshare.png"
  
.clear