 
  <div class="field">
    <%= f.label :name, "ФИО:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :passport, "Док. удоств. личность, кем и когда выдан" %><br />
    <%= f.text_area :passport %>
  </div>
   
