#coding: utf-8
<header>
	<%= link_to logo, root_path %>
	<nav class = "round">
    	<ul>
    		<li><%= link_to "Главная", root_path %></li>
        <li><%= link_to "Помощь", help_path %></li>
        <li><%= link_to "Регистрация", '#' %></li>
	    	
		</ul>
	</nav>
</header>
