<h1 class="news">Новый функционнал:</h1>
<li>Промежуток времени после, которого нельзя вступить в борьбу за заявки не сделав до этого не одной ставки, определяется случайным образом от 5 до 20 минут</li>
-----------------------------------------------------------------
<li>28.06.12 - Время после, которого нельзя бороться за заявку, если до этого не делали ставок определяется случайно в диапозоне от 20 до 5 минут. </li>
------------------------------------------------------------------
<li>26.06.12 - Продолжительность торгов сокращена до 30 минут (с 14:00 до 14:30)</li>



