<h1 class="news">Новый функционал:</h1>
<p class="news" >23.08.12 В первом столбце рядом с номером заявки будет показано время закрытия, но оно будет учитываться только после основного закрытия: т.е. если по заявке была сделана ставка в 14:28 ее время закрытия будет 14:33, если в 14:32 будет сделана еще ставка, то она закроется в 14:37 и т.д.
Финальное закрытие в 15:00!<br>
После 14:30 если последняя ставка была сделана до 14:25 заявка будет закрыта!</p>



