<h1 class="news">Новый функционнал:</h1>
<li>28.06.12 - Время после, которого нельзя бороться за заявку, если до этого не делали ставок определяется случайно в диапозоне от 20 до 5 минут. </li>
------------------------------------------------------------------
<li>26.06.12 - Продолжительность торгов сокращена до 30 минут (с 14:00 до 14:30)</li>
-------------------------------------------------------------------
<li>Расширены возможности фильтра: отбор не только по дате, но и по складу погрузки </li>


