<h1 class="news">Новый функционнал:</h1>
<li>26.06.12 - Продолжительность торгов сокращена до 30 минут (с 14:00 до 14:30)
-------------------------------------------------------------------
<li>Расширены возможности фильтра: отбор не только по дате, но и по складу погрузки </li>
--------------------------------------------------------------------
<li>Добалена возможность забрать перевозку опустив цену на 15% </li>
